#not-found-container {
    color: $darken_gray;
    background-color: $light_gray;
    display: flex;
    justify-content: center;
    align-items: center;
    #not-found-icon {
        position: relative;
        margin-right: auto;
        h1 {
            font-size: 2500%;
            display: block;
        }
        p {
            text-transform: uppercase;
            font-size: 195%;
            display: flex;
            width: 94.5%;
            margin-left: 1rem;
            justify-content: space-around;
            position: absolute;
            top: 57%;
            background-color: $waite;
            span {
                letter-spacing: .17rem;
            }
        }
    }
    #not-found-search {
        display: flex;
        flex-wrap: wrap;
        input {
            padding: 1rem;
            &:nth-child(1) {
                width: 70%;
                border: 1px solid $middle_gray;
            }
            &:nth-child(2) {
                width: 30%;
                text-transform: uppercase;
                color: $light_gray;
                background-color: $darken_gray;
            }
        }
    }
    h3 {
        text-align: center;
        font-size: 150%;
        margin-top: 1rem;
    }
    .p {
        padding: .8rem;
        color: $normal_gray;
        text-align: center;
    }
    a {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-top: .5rem;
    }
    @include sm {
        transform: scale(.7);
    }
    @include xs {
        transform: scale(.4);
        transform-origin: 50% 25%;
        h3 {
            font-size: 3rem;
        }
        .p {
            font-size: 1.2rem;
        }
        input {
            width: 100% !important;
            &:nth-child(2) {
                margin-top: .6rem;
            }
        }
    }
}