.wrapper {
    width: 98%;
    max-width: calc(1528rem/16);
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
}

.left-content {
    width: 69%;
}

body {
    background-color: $light_gray;
    min-height: 100vh !important;
    height: fit-content;
}

main {
    .wrapper {
        @include sm {
            flex-wrap: wrap;
        }
    }
}

aside {
    width: 30%;
    margin-left: 1%;
}

@include sm {
    .left-content,
    aside {
        width: 100%;
    }
    aside {
        margin: 0;
    }
}