@mixin lg {
    @media screen and (max-width: 1336px) {
        @content;
    }
}

@mixin md {
    @media screen and(max-width: 1082px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 927px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 540px) {
        @content;
    }
}