* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .1rem;
}

fieldset,
input,
textarea,
button {
    border: none;
}

a {
    cursor: pointer;
}

small {
    display: block;
}

img {
    width: 100%;
}