$main_gray: #212429;
$dark_gray: #17191c;
$light_gray: #f9f9fb;
$lighten_gray: #f7f7f7f7;
$normal_gray: #999999;
$light_normal_gray: #eaeaeb;
$middle_gray: #3a3c49;
$waite: #ffffff;
$darken_gray: #363636;
$red: red;