article,
.content {
    text-align: center;
    color: $dark_gray;
    background-color: $waite;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    .img {
        display: block;
        width: 100%;
        max-height: 30rem;
        background-color: $middle_gray;
    }
    .post-title {
        font-size: 2rem;
        padding: 1rem;
        @include sm {
            font-size: 1.2rem;
            line-height: 1.5rem;
            padding-top: .2rem;
            padding-bottom: .2rem;
        }
    }
    .post-category {
        text-transform: uppercase;
        margin-top: 1rem;
    }
    .meta-data {
        color: $normal_gray;
        font-size: .9rem;
        @include sm {
            font-size: .7rem;
        }
    }
    .post-body {
        padding: 1rem;
        line-height: 1.5rem;
    }
    .tags {
        margin-bottom: 2rem;
    }
    .read-more {
        text-transform: uppercase;
        font-size: .8rem;
        display: inline-block;
        width: 126rem/16;
        padding: 1rem 2rem;
        font-weight: bold;
        margin: 1rem 0;
        border-right: 1px solid $normal_gray;
        border-left: 1px solid $normal_gray;
    }
}

.other-posts {
    width: 100%;
    height: 8.4rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 8.4rem;
    margin: 2.5rem 0;
    div {
        text-transform: uppercase;
        font-weight: normal;
        width: 49%;
        font-size: .9rem;
        background-color: $middle_gray;
        color: $light_gray;
        &:nth-child(1) {
            background-color: $dark_gray;
        }
    }
}

.recommended-posts {
    padding: 1.9rem;
    margin-bottom: 1.5rem;
    background-color: $waite;
    .heading {
        display: flex;
        h1 {
            padding: .4rem 0 1.9rem 0;
        }
    }
    .posts-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .recommended-post-card {
            width: 31%;
            @include sm {
                width: 49%;
                margin-bottom: 2rem;
            }
            @include xs {
                width: 98%;
            }
            &:nth-child(1) {
                .recommended-post-img {
                    background-color: $dark_gray;
                }
            }
            &:nth-child(2) {
                .recommended-post-img {
                    background-color: $main_gray;
                }
            }
            &:nth-child(3) {
                .recommended-post-img {
                    background-color: $middle_gray;
                }
            }
            .recommended-post-img {
                width: 100%;
                height: calc(216rem/16);
            }
            h5 {
                margin-top: 1rem;
                text-transform: uppercase;
                padding-left: 1rem;
            }
        }
    }
}