aside {
    margin-bottom: 2rem;
    height: fit-content;
    padding: calc(27rem/16);
    @include md {
        padding: 1rem;
    }
    background-color: $waite;
    text-transform: uppercase;
    h3 {
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        border-bottom: 2px solid $light_gray;
    }
    ul {
        li {
            padding: 1rem 0;
            font-size: .8rem;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $light_gray;
        }
    }
    img {
        max-height: 80vw;
    }
    .post-block {
        display: flex;
        justify-content: space-between;
        height: 3.8rem;
        margin-bottom: 1rem;
        height: 5rem;
        .img {
            width: 34%;
            @include sm {
                width: 20%;
            }
            height: 100%;
            background-color: $dark_gray;
        }
        .inner-post-block {
            padding: .2rem;
            padding-left: .5rem;
            width: 66%;
            @include sm {
                width: 79%;
            }
            margin-bottom: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .meta-data {
                display: flex;
                .date,
                .likes {
                    display: block;
                    &:nth-child(1) {
                        margin-right: 1rem;
                    }
                }
            }
            h5 {
                font-size: .8rem;
                line-height: 1.2rem;
                @include sm {
                    font-size: 1rem;
                }
                @include xs {
                    font-size: .9rem;
                }
            }
            span {
                display: inline-block;
                font-size: .8rem;
                color: $normal_gray;
                margin: 0;
            }
        }
    }
}