#banner {
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 85vh;
    
    .wrapper{

        // padding: 0;
        height: 100%;

    }
    .carousel-container{


        width: 100%;
        height: 100%;
        overflow-y: scroll;
        position: relative;
        color: $waite;
        display: flex;
        // justify-content: space-between;
        // align-items: center;

      
        .carousel{
            min-height: 85vh;
            min-width: 100%;
            position: absolute;
            transition: opacity 1s ease;
        }

        .carousel:first{
            // z-index
        }
        #heading {
            display: block;
            margin-left: 10%;
            letter-spacing: .2rem;
            margin-top: 20%;
        }
        h2 {
            text-transform: uppercase;
            width: 70%;
            font-size: 2.5rem;
            margin-top: 1.2rem;
            @include xs {
                font-size: 1.2rem;
                line-height: 1.7rem;
            }
        }
        h3 {
            // margin-bottom: 1rem;
            font-size: 1.2rem;
            text-transform: capitalize;
        }
        
        // #featured {
        //     text-align: center;
        //     text-transform: uppercase;
        //     width: 117%;
        //     letter-spacing: .2rem;
        //     font-size: 1rem;
        //     text-overflow: initial;
        //     @include sm {
        //         font-size: .8rem;
        //     }
        //     @include xs {
        //         font-size: .7rem;
        //     }
        // }
    }

    
    
    #navigation-zone {
        transform: rotate(-90deg);
        position: absolute;
        z-index: 1000;
        right: 1%;
        top: 50%;
        width: 5rem;
        height: 1.2rem;
        
    }
    #boxes {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1.5rem;
        @include sm {
            margin-bottom: .5rem;
        }
        .box {
            height: 1rem;
            width: 1rem;
            border: 1px solid $waite;
        }
        .active {
            background-color: $light_gray;
        }
    }
}